.ErrMessage {
  color: #ff0000;
  text-align: center;
}

.itemDetailWidth {
  width: 90%;
  margin: auto;
}

.itemCard {
  width: 100%;
  background: #e6e5e5;
  border: 1px solid #777;
}

.topSection {
  height: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
}

#imageContainer {
  width: 100%;
  height: 300px;
}

.selectImage {
  text-align: center;
}

.selectImage img {
  width: 80px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 8px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.selectImage img:hover {
  border-color: #4d2582;
}

.price {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #4d2582;
  font-size: 24px;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.productInfo {
  padding: 24px;
}

.name {
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
}

.btn:link,
.btn:visited {
  display: block;
  background: #4d2582;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnWhite {
  background-color: #4d2582;
  color: #ffffff;
}

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btnWhite::after {
  background-color: #4d2582;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btnAnimated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.description h1 {
  color: #777777;
  font-size: 30px;
  font-weight: 800;
}

.badge {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

.language {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}

.specialPrices {
  font-weight: 500;
  text-align: left;
  color: #388e3c;
  margin: 12px 0 -12px;
}

.prices {
  padding-top: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pricesTag {
  font-size: 28px;
  vertical-align: sub;
}

.descPoint {
  line-height: 1.43;
  color: #212121;
  font-size: 14px;
  position: relative;
}

.pointsLine {
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}

.pointImage {
  margin-right: 10px;
}

.descPoint li {
  list-style: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .itemDetailWidth {
    width: 95%;
  }
}
