input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff !important;
}

.Toastify__toast-container--top-right {
  top: 57px !important;
  right: 0 !important;
}

.Toastify__toast-container {
  z-index: 100 !important;
  padding: 0 !important;
}

.Toastify__toast--success {
  background: #4d2582 !important;
}

.swal-icon--success__line {
  background-color: #2e134e !important;
}

.swal-button {
  background-color: #2e134e !important;
}

.swal-icon--success__ring {
  border: 4px solid hsl(267, 61%, 19%) !important;
}

.clr-margin {
  margin: 0;
}

.ErrMessage {
  color: #ff0000;
  text-align: center;
}

.pageWidth {
  width: 95%;
  margin: auto;
}

.fadeInEffect {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HomePage */
.sliderCircle {
  background: url(/img/circle.webp) top left repeat-x;
  height: 10px;
  position: absolute;
  width: 100%;
  z-index: 180;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 500px;
}

.carousel-indicators .active {
  background-color: #e83e8cd1;
}

.carousel-indicators li {
  background-color: #777777;
}

.mainHeader {
  margin-top: 40px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 2.7rem;
}

.imgClipPath {
  clip-path: polygon(0 0, 100% 0, 100% 280px, 0 100%);
  max-height: 300px;
}

.home-card {
  background: #44aee4f5;
}

.card-title {
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  font-style: 25px;
}

.titleStyle {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
  display: inline-block;
}

.magMonth {
  color: #ffffff;
  font-size: 16px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.texOverflow {
  max-height: 50px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

.btnStyle {
  font-family: 'Teko', sans-serif;
  font-size: 1.15rem;
  letter-spacing: 0.75px;
  background-color: #e951a0;
  border-color: #e951a0;
}

.btnStyle:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

/* About Page */
.main {
  background: #f3f1f1;
}

.banner {
  position: relative;
}

.about-img img {
  width: 100%;
}

.about-card {
  margin-top: -50px;
  -webkit-animation: fadeInUp 3s ease;
  animation: fadeInUp 3s ease;
  box-shadow: 8px 0 87px rgba(0, 0, 0, 0.15);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.card-header {
  background: #44aee4;
}

.card-header ul li a {
  font-weight: 600;
}

.nav-link {
  color: #fff;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  font-size: 28px;
  padding: 0px 60px 0px;
  font-style: normal;
}

.nav-link:hover {
  color: #1a1919;
}

.our_team {
  margin: 40px 0px 0px;
}

.title {
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding: 20px 0px 20px;
  font-size: 2.7rem;
}
.two {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.our-team {
  text-align: center;
  position: relative;
  color: #fff;
}

.our-team img {
  width: 100%;
  height: 100%;
}

.our-team .content {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 45%;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.our-team:hover .content,
.our-team.active .content {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}

.our-team .content .title {
  margin: 0 0 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}

.our-team .content .post {
  margin: 0 0 25px;
  display: block;
  font-size: 15px;
}

.our-team .social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: #44aee4;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}
.our-team .social li a:hover,
.our-team.active .social li a {
  border-radius: 50%;
  text-decoration: none;
}

.desc-footer {
  float: right;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  border-bottom: 1px solid #000;
}

/* ItemDetail */
.buyBtn {
  width: 100%;
}

.detailSpace {
  padding: 40px 0 40px 0;
}

.first {
  background-color: #f3f1f1;
  display: block;
}

.detail-card {
  -webkit-animation: fadeInUp 3s ease;
  animation: fadeInUp 3s ease;
  box-shadow: 8px 0 87px rgba(0, 0, 0, 0.15);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.selectImage {
  text-align: center;
}

.selectImage img {
  width: 65px;
  border: 1px solid #ddd;
  margin: 5px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.selectImage img:hover {
  border-color: #4d2582;
}

.itemCard {
  width: 100%;
  background: #44aee4;
  border: 1px solid #777;
}

.topSection {
  width: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.topSection img {
  width: 100%;
}

#imageContainer {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.price {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #4d2582;
  font-size: 24px;
  background: white;
  padding: 0 10px;
  border-radius: 5px;
}

.description h1 {
  color: #777777;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.badge {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

.language {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}

.specialPrices {
  font-weight: 500;
  text-align: left;
  color: #388e3c;
  margin: 12px 0 -12px;
}

.prices {
  padding-top: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pricesTag {
  font-size: 28px;
  vertical-align: sub;
}

.descrptionDetail {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.descPoint {
  line-height: 1.43;
  color: #212121;
  font-size: 14px;
  position: relative;
}

.descPoint li {
  list-style: none;
}

.pointsLine {
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}

.pointImage {
  margin-right: 10px;
}

.productInfo {
  padding: 24px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.col_white_amrc {
  color: #fff;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #ccc;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.padding-right {
  padding-right: 10px;
}

.fleft {
  float: left;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Our Team */

.our_team {
  margin: 40px 0px 0px;
}

.title {
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding: 20px 0px 20px;
  font-size: 2.7rem;
}
.two {
  /*background-image: url(./img/bg1.jpg);*/
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home-card {
  background: #ffcc28;
  /*background: linear-gradient(90deg, rgba(241,125,54,1) 0%, rgba(136,33,45,0.7567401960784313) 100%);*/
}

.team-card {
  padding: 40px 20px 30px;
  box-shadow: 0px 7px 10px #ccc;
}
.team-img {
  border-radius: 50%;
  width: 150px;
  margin: 0px auto;
}
.team-designation {
  font-size: 0.875rem;
  text-align: center;
}
.team-name {
  text-align: center;
  margin-bottom: 0px;
}
.ribbon {
  font-size: 1.75rem !important;
  width: 50%;

  position: relative;
  background: #f26522;
  color: #fff;
  text-align: center;
  padding: 0.5em 2em;
  margin: 0.5em auto 1.75em;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #f26522;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #f26522 transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon {
  text-transform: uppercase;
}
.team-card2 {
  position: relative;
}
.team-description {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 0px 5px;
}

.team2 {
  font-size: 0.575rem;
}
.team-titile2 {
  font-size: 1rem;
}

.t-pattern-1 .bg-level-2 {
  background-image: url(/img/start.png);
}
.bg-level-2.first-part {
  background-position: right top;
}
.bg-level-2 {
  position: absolute;
  top: -14px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pageWidth {
    width: unset;
  }

  .mainHeader {
    margin-top: 15px;
  }

  .cardSpace {
    margin-top: 0 !important;
  }

  .itemMargin {
    margin: 25px 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .about-card {
    margin-top: 40px;
  }

  .nav-link {
    padding: 0px 45px 0px;
  }

  .our_team {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}
