/* Main Page */
.pageHight {
  margin-top: 100px;
}

/* Toastify */
.Toastify__toast-container--top-right {
  top: 101px !important;
  right: 0 !important;
}

.Toastify__toast-container {
  z-index: 100 !important;
  padding: 0 !important;
}

.Toastify__toast--success {
  background: #f26522 !important;
}

/* Sweet Alert */
.swal-icon--success__line {
  background-color: #b5d034 !important;
}

.swal-button {
  background-color: #b5d034 !important;
}

.swal-icon--success__ring {
  border: 4px solid hsl(70, 62%, 51%) !important;
}

/* Common Page */
.pageWidth {
  width: 95%;
  margin: auto;
}

.clr-margin {
  margin: 0;
}

.clr-padding {
  padding: 0;
}

.fadeInEffect {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* About Page */

.about-card {
  margin-top: -50px;
  -webkit-animation: fadeInUp 3s ease;
  animation: fadeInUp 3s ease;
  box-shadow: 8px 0 87px rgba(0, 0, 0, 0.15);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.card-header {
  background: #44aee4;
}

.card-header ul li a {
  font-weight: 600;
}

.nav-link {
  color: #fff;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  font-size: 28px;
  padding: 0px 60px 0px;
  font-style: normal;
}

.nav-link:hover {
  color: #1a1919;
}

.our_team {
  margin: 40px 0px 0px;
}

.title {
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding: 20px 0px 20px;
  font-size: 2.7rem;
}
.two {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.our-team {
  text-align: center;
  position: relative;
  color: #fff;
}

.our-team img {
  width: 100%;
  height: 100%;
}

.our-team .content {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 45%;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.our-team:hover .content,
.our-team.active .content {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}

.our-team .content .title {
  margin: 0 0 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}

.our-team .content .post {
  margin: 0 0 25px;
  display: block;
  font-size: 15px;
}

.our-team .social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: #44aee4;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}
.our-team .social li a:hover,
.our-team.active .social li a {
  border-radius: 50%;
  text-decoration: none;
}

.desc-footer {
  float: right;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  border-bottom: 1px solid #000;
}

/* HomePage */
.ErrMessage {
  color: #ff0000;
  text-align: center;
}

.sliderCircle {
  background: url(/img/circle.webp) top left repeat-x;
  height: 10px;
  position: absolute;
  width: 100%;
  z-index: 180;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 500px;
}

.carousel-indicators .active {
  background-color: #e83e8cd1;
}

.carousel-indicators li {
  background-color: #777777;
}

.mainHeader {
  margin-top: 40px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 2.7rem;
}

.imgClipPath {
  clip-path: polygon(0 0, 100% 0, 100% 280px, 0 100%);
  max-height: 300px;
}

.card-title {
  font-weight: 600;
  font-family: 'Teko', sans-serif;
}

.card-text {
  text-align: justify;
}

.magazinetitle {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
  display: inline-block;
}

.magMonth {
  color: #ffffff;
  font-size: 16px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.texDesciption {
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

.btnStyle {
  font-family: 'Teko', sans-serif;
  font-size: 1.15rem;
  letter-spacing: 0.75px;
  background-color: #f26522;
  border-color: #f26522;
}

.btnStyle:hover,
.btnStyle:focus,
.btnStyle:active {
  background-color: #ed2224 !important;
  border-color: #ed2224 !important;
  color: #ffffff;
  box-shadow: none !important;
}

/* ItemDetail */
.buyBtn {
  width: 100%;
}

.detailSpace {
  padding: 40px 0 40px 0;
}

.first {
  background-color: #f3f1f1;
  display: block;
}

.detail-card {
  -webkit-animation: fadeInUp 2s ease;
  animation: fadeInUp 2s ease;
  box-shadow: 8px 0 87px rgba(0, 0, 0, 0.15);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.selectImage {
  text-align: center;
}

.selectImage img {
  width: 65px;
  border: 1px solid #ddd;
  margin: 5px 2px;
  cursor: pointer;
  transition: 0.3s;
}

.selectImage img:hover {
  border-color: #4d2582;
}

.itemCard {
  width: 100%;
  background: #44aee4;
  border: 1px solid #777;
}

.topSection {
  width: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.topSection img {
  width: 100%;
}

#imageContainer {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.price {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ed2224;
  font-size: 24px;
  font-weight: 600;
  background: white;
  padding: 0 10px;
  border-radius: 5px;
}

.description h1 {
  color: #777777;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.badge {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

.language {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}

.specialPrices {
  font-weight: 500;
  text-align: left;
  color: #388e3c;
  margin: 12px 0 -12px;
}

.prices {
  padding-top: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pricesTag {
  font-size: 28px;
  font-weight: 400;
  vertical-align: sub;
}

.descrptionDetail {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.descPoint {
  line-height: 1.43;
  color: #212121;
  font-size: 14px;
  position: relative;
}

.descPoint li {
  list-style: none;
}

.pointsLine {
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}

.pointImage {
  margin-right: 10px;
}

.productInfo {
  padding: 24px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.col_white_amrc {
  color: #fff;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

.pt1 {
  padding-top: 20px;
  margin-bottom: 10px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #ccc;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li {
  display: block;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.padding-right {
  padding-right: 10px;
}

.fleft {
  float: left;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
  padding: 0;
}

.social_footer_ul li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.copyright {
  color: #ed2227;
}

/* Our Team */
.main {
  background: #f3f1f1;
}

.our_team {
  margin: 40px 0px 0px;
}

.title {
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding: 20px 0px 20px;
  font-size: 2.7rem;
}
.two {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home-card {
  background-image: linear-gradient(to right bottom, #b5d034, #28b487);
}

.titleStyle {
  font-weight: 600;
  font-size: 1.75rem;
}

.texOverflow {
  max-height: 50px;
  overflow: hidden;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
}

.team-card {
  padding: 40px 20px 30px;
  box-shadow: 0px 7px 10px #ccc;
  height: 100%;
}
.team-img {
  border-radius: 50%;
  width: 150px;
  margin: 0px auto;
}
.team-designation {
  font-size: 0.875rem;
  text-align: center;
}
.team-name {
  text-align: center;
  margin-bottom: 0px;
}
.ribbon {
  font-size: 1.75rem !important;
  width: 50%;

  position: relative;
  background: #f26522;
  color: #fff;
  text-align: center;
  padding: 0.5em 2em;
  margin: 0.5em auto 1.75em;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #f26522;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #f26522 transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon {
  text-transform: uppercase;
}
.team-card2 {
  position: relative;
}
.team-description {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 0px 5px;
}

.team2 {
  font-size: 0.575rem;
}
.team-titile2 {
  font-size: 1rem;
}

.t-pattern-1 .bg-level-2 {
  background-image: url(/img/start.png);
}
.bg-level-2.first-part {
  background-position: right top;
}
.bg-level-2 {
  position: absolute;
  top: -14px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* Contact */
.banner {
  position: relative;
}

.about-img img {
  width: 100%;
}

.contact-form {
  background: #fff;
  margin-bottom: 5%;
  box-shadow: 0 7px 10px;
  width: 100%;
  margin-top: -50px;
  border-radius: 10px;
}

.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form .contactForm {
  padding: 10% 5% 10%;
}
.contact-form .contactForm .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #b5d034;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #b5d034;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #b5d034;
  border: none;
  cursor: pointer;
}

.socialIconColor {
  color: #f26522;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* Main Page */
  .pageHight {
    margin-top: 56px;
  }

  /* Common Page */
  .pageWidth {
    width: unset;
  }

  .sliderCircle {
    display: none;
  }

  .mainHeader {
    margin-top: 15px;
  }

  .cardSpace {
    margin-top: 0 !important;
  }

  .carousel-item img {
    width: 100%;
    height: 200px;
  }

  .itemMargin {
    margin: 25px 0 !important;
  }

  .contact-form-manage {
    margin-top: 45px;
  }

  .ribbon {
    padding: unset;
  }

  .our_team {
    margin-top: unset;
  }

  .title {
    padding: unset;
  }

  .foote_bottom_ul_amrc {
    text-align: center;
  }

  .foote_bottom_ul_amrc li {
    display: inline-block;
  }

  .sectionView {
    min-height: unset !important;
  }

  .mobMargin {
    margin: 0 0 10px 0 !important;
  }

  .sectionContainer {
    padding: 5px !important;
  }

  .formbody .form-body {
    padding: 20px !important;
  }

  .bodyViewInputForm {
    width: 100% !important;
  }

  .bodyView {
    min-height: unset !important;
  }

  .bodyCardSpace {
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 600px) {
  .about-card {
    margin-top: 10px;
  }

  .nav-link {
    padding: 0px 30px 0;
  }
}

@media screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  padding: 0;
  width: 80%;
  margin-top: 10px;
  cursor: pointer;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}

/* Profile Page */
.sectionView {
  background-image: linear-gradient(to right bottom, #b5d034, #28b487);
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  height: 100%;
  min-height: 550px;
}

.sectionContainer {
  padding: 35px;
}

.sectionList {
  padding: 10px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.sectonName {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}

.sectionList .active {
  border-left: 3px solid #ffffff;
}

.sectonName:hover {
  color: #ffffff;
  text-decoration: none;
}

.bodyView {
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  height: 100%;
  min-height: 550px;
}

.formbody {
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 1px;
}

.formbody .form-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: #67bc5e;
}

.formbody .form-body {
  padding: 45px;
}

.bodyViewInputMain {
  margin: 15px 0;
}

.bodyViewInputForm {
  width: 75%;
  height: 50px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}

.formbody .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}

.formbody .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}

.formbody .form-footer a {
  display: inline-block;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #27ae60;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}

.formbody .form-footer span {
  margin-left: 8px;
}

.bodyImgClipPath {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 280px, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 280px, 0 100%);
  max-height: 220px;
}
