.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #4b0082;
  height: 56px;
  z-index: 200;
}

.toolbarNavigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  max-width: 85%;
  margin: auto;
}

.logo a {
  text-decoration: none;
  color: #ee6536;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bolder;
}

.logo a span {
  color: #ed3833;
}

.toolbarNavigationItems a {
  color: #bbb5b5;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Spectral-SemiBold';
}

.toolbarNavigationItems a:hover,
.toolbarNavigationItems a:active {
  color: #ffffff;
}

.navOption {
  padding: 10px;
}

.navOption.active {
  color: #ffffff;
}

.toolbarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbarNavigationItems li {
  padding: 16px 0.3rem;
  font-size: 16px;
  font-weight: 600;
}

.spacer {
  flex: 1 0;
}

.ArrowUp {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17px solid #6a429e;
  display: none;
}

.menu:hover .ArrowUp {
  display: block;
}

.DropContainer {
  position: absolute;
  width: 155px;
  height: 100px;
  background-color: #6a429e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 56px;
  right: 70px;
  display: none;
}

.DropContainer a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu:hover .DropContainer {
  display: block;
}

@media (min-width: 768px) {
  .toolbarToggleButton {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .toolbarNavigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    max-width: 100%;
  }

  .logo {
    margin-left: 15px;
  }

  .toolbarNavigationItems {
    display: none;
  }
}
