.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 100px;
  z-index: 200;
}

.toolbarNavigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  max-width: 85%;
  margin: auto;
}

.logo a img {
  width: 185px;
}

.navImage {
  display: block;
  width: 50px;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
}

.toolbarNavigationItems a {
  color: #ed2024;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Teko', sans-serif;
}

.toolbarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbarNavigationItems li {
  padding: 12.5px 1.25rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.spacer {
  flex: 1 0;
}

.ArrowUp {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17px solid #44aee4;
  margin: 0 0 0 5px;
  display: none;
}

.menu:hover .ArrowUp {
  display: block;
}

.DropContainer {
  position: absolute;
  width: 200px;
  background-color: #44aee4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 56px;
  right: 120px;
  display: none;
}

.DropContainer a {
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.DropContainer a:hover {
  background: #378cb7;
}

.menu:hover .DropContainer {
  display: block;
}

@media (min-width: 768px) {
  .toolbarToggleButton {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .toolbarNavigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    max-width: 100%;
  }

  .logo {
    margin-left: 15px;
  }

  .toolbarNavigationItems {
    display: none;
  }
}
