.bgImage {
  background-image: url('/img/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 100vh;
}

.formCOntainer {
  background: rgba(8, 8, 8, 0.7);
  padding: 75px 0;
  margin: 0 40px;
  border-radius: 10px;
}

.avatar {
  height: 100px;
}

.heading {
  margin: 15px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.9rem;
  font-family: 'fantasy';
}

.loginFormVertical {
  width: 80%;
  margin: auto;
}

.loginFormGroup {
  width: 100%;
  margin-bottom: 45px;
}

.loginFormGroup {
  width: 100%;
}

.formControl {
  width: 100%;
  color: #ffffff;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  vertical-align: top;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  line-height: 25px;
  font-family: 'fantasy';
  letter-spacing: 1px;
}

.formControl:focus {
  border-color: #ffffff;
  border-width: medium medium 2px;
}

.loginFormVertical .floatingLabel {
  position: absolute;
  pointer-events: none;
  left: 13%;
  top: -20px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-family: 'fantasy';
}

.formControl:focus ~ .floatingLabel {
  left: 13%;
  top: -20px;
  font-size: 15px;
  opacity: 1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.formMessage {
  font-size: 10px;
  padding-top: 2px;
}

.formMessage.valid {
  color: #4caf50;
  position: absolute;
  left: 13%;
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'fantasy';
}

.formMessage.invalid {
  color: #f44336;
  position: absolute;
  left: 13%;
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'fantasy';
}

.btnForgot {
  color: #8bb7f0;
  padding: 0 0 20px;
  font-family: 'fantasy';
}

.btnAnimated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btnClass {
  width: 80%;
  padding: 8px;
  color: white;
  background: #4d2582;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'fantasy';
}

.btnClass:focus {
  outline: none;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .formCOntainer {
    padding: 25px;
    margin: 0 5px;
  }

  .loginFormVertical {
    width: 100%;
    margin: auto;
  }

  .loginFormVertical .floatingLabel {
    left: 20px;
  }

  .formControl:focus ~ .floatingLabel {
    left: 20px;
  }

  .formMessage.valid {
    left: 20px;
  }

  .formMessage.invalid {
    left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .formCOntainer {
    margin: 5px;
  }
}
